*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

.container{
    display: grid;
    width: 20rem;
    grid-template-columns: repeat(3, 1fr) ;
    grid-template-rows: repeat(3, 1fr) ;
    grid-area: 1rem;
    gap: 1rem;
}

.numero{
    border: 2px solid black;
    width: 10rem;
    height: 10rem;
}

.uno{
    grid-column: 2/3;
    background-color: black;
}
.dos{
    grid-area: 2/4;
    background-color: black;
}
.uno{
    grid-area: 2/3;
    background-color: black;
}
.uno{
    grid-column: 2/3;
    background-color: black;
}